<div class = "card-body">
    <form (submit)="Encrypt(mensaje)">
        <div class="form-group">
            <textarea rows="2" class="form-control" placeholder="Mensaje" required #mensaje></textarea>
        </div>
        <button class="btn btn-primary btn-block">
            Cifrar
        </button>
    </form>
</div>
<div class = "card-body">
    <form (submit)="sign(mensaje)">
        <div class="form-group">
            <textarea rows="2" class="form-control" placeholder="Mensaje" required #mensaje></textarea>
        </div>
        <button class="btn btn-primary btn-block">
            sign
        </button>
    </form>
</div>
<div class = "card-body">
    <form (submit)="firmaCiega(mensaje)">
        <div class="form-group">
            <textarea rows="2" class="form-control" placeholder="Mensaje" required #mensaje></textarea>
        </div>
        <button class="btn btn-primary btn-block">
            firmaCiega
        </button>
    </form>
</div>
